<header class="at_logout_header">
  <div class="head_top">
    <li><a href="company/top">採用担当の方はこちら</a></li>
  </div>
  <div class="head_bottom">
    <div class="head_bottom_container">
      <div class="head_bottom_about">
        <ul class="header_menus">
          <li><%= link_to("FORIOとは？", "/about")%></li>
        </ul>
      </div>
      <div class="header_logo">
        <%= link_to "/" do %>
        <img src="/logo.png" alt="logo">
        <% end %>
      </div>
      <div class="head_bottom_recruiter">
        <ul class="header_menus">
          <li><%= link_to("ログイン", "/login")%></li>
        </ul>
      </div>
    </div>
  </div>
</header>
<main class="user_index_main">
  <div class="time_line">
    <% if @user.id == current_user.id %>
    <% else %>
    <% if @isRoom == true %>
    <p><a href="/rooms/<%= @roomId %>">チャットへ</a>
      <% else %>
      <%= form_for @room do |f| %>
      <%= fields_for @entry do |e| %>
      <%= e.hidden_field :user_id, :value=> @user.id %>
      <% end %>
      <%= f.submit "チャットを始める" %>
      <% end %>
      <% end %>
      <% end %>

      <%= link_to "ユーザー一覧に戻る", users_path %>
  </div>
  <div class="menu_bar">
    <div class="appeal">
      <div class="menu_bar_header">
        <h4>アピール</h4>
      </div>
      <div class="menu_list">
        <div class="regist m_box">
          <%= link_to("アピールする", "/posts/#{@user.id}/new")%>
        </div>
        <div class="edit m_box">
          <%= link_to("タイムライン(※皆の)", "/posts/#{@user.id}/index")%>
        </div>
      </div>
    </div>
    <div class="profile">
      <div class="menu_bar_header">
        <h4>プロフィール</h4>
      </div>
      <div class="menu_list">
        <div class="regist m_box">
          <%= link_to("登録", "/profile/#{@user.id}/regist")%>
        </div>
        <div class="edit m_box">
          <%= link_to("編集", "/profile/#{@user.id}/confirm")%>
        </div>
      </div>
    </div>
    <div class="contact_company">
      <div class="menu_bar_header">
        <h4>企業とのコンタクト</h4>
      </div>
      <div class="menu_list">
        <div class="message_list m_box">
          <a href="#">メッセージ一覧</a>
        </div>
      </div>
    </div>
  </div>
</main>