<header>
    <div class="head_top">
    	<div class="logout">
    		<div class="logout_image">
    			<img src="/logout.png">
    		</div>
    		<div class="logout_link">
    			<%= link_to("ログアウト", "/logout", {method: :post})%>
    		</div>
    	</div>
	</div>
    <div class="head_bottom user_index_head_bottom">
    	<div class="header_logo logo">
    		<%= link_to "/users/#{@user.id}/index" do %>
            <img src="/logo.png" alt="logo">
            <% end %>
        </div>
        <div class="user_info">
        	<% current_user = User.find_by(id: session[:user_id]) %>
        	<div class="user_icon">
        		<%= link_to "/profile/#{@user.id}" do %>
        		<img src="<%= "/user_icon_images/#{current_user.image_name}" %>">
        		<% end %>
        	</div>
        </div>
    </div>
</header>
<% if flash[:notice]%>
    <div class="flash">
    	<%= flash[:notice]%>
    </div>
<% end %>
<main class="user_index_main">
	<form class="form-inline">
		<div class="time_line">
			<input type="text" class="form-control" id="chat-input"/>
    		<button id="button" class="btn btn-primary">送信</button>
    	</div>
  	</form>
  <div id="messages">
    <ul class="list-group">
      <%= render @messages %>
    </ul>
  </div>
	</div>
	<div class="menu_bar">
		<div class="appeal">
			<div class="menu_bar_header">
				<h4>アピール</h4>
			</div>
			<div class="menu_list">
				<div class="regist m_box">
					<%= link_to("アピールする", "/posts/#{@user.id}/new")%>
				</div>
				<div class="edit m_box">
					<%= link_to("タイムライン(※皆の)", "/posts/#{@user.id}/index")%>
				</div>
			</div>
		</div>
		<div class="profile">
			<div class="menu_bar_header">
				<h4>プロフィール</h4>
			</div>
			<div class="menu_list">
				<div class="regist m_box">
					<%= link_to("登録", "/profile/#{@user.id}/regist")%>
				</div>
				<div class="edit m_box">
					<%= link_to("編集", "/profile/#{@user.id}/confirm")%>
				</div>
			</div>
		</div>
		<div class="contact_company">
			<div class="menu_bar_header">
				<h4>企業とのコンタクト</h4>
			</div>
			<div class="menu_list">
				<div class="message_list m_box">
					<a href="#">メッセージ一覧</a>
				</div>
			</div>
		</div>
	</div>
</main>